# Kronos Backend Environment Configuration Template
DB_URL=postgresql://postgres:mysecretpassword@localhost:5432/postgres
PORT=8090
SECRET_KEY=e8346e27a69cb7d1059fbc4566b71f9855dd4e2b0a1a0c4f8263158bd187e1a3
SERVICE_NAME=kronos-node
SERVICE_VERSION=0.0.1
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
TELEMETRY_ENABLED=true
CORS_ALLOWED_ORIGINS=*
